body {
    margin: 0px;
    width: 100%;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
  }
  
  h1 {
    font-size: 20pt;
    font-weight: normal;
    margin: 0px;
    color: #333333;
  }
  
  h2 {
    font-size: 15pt;
    margin: 0px;
    font-weight: normal;
    color: #8299e2;
  }
  
  .install {
    width: 40%;
    text-align: center;
    margin: 0px auto;
    background-color: white;
  }
  
  .install > .install-content {
      padding: 25% 25px;
  }
  
  .install-content > img {
    width: 75px;
    margin-bottom: 15px;
  }
  
  .install-content > h1 {
    line-height: 1.3em;
    padding-bottom: 5px;
  }
  
  .install-content > p {
    margin-top: 30px;
  }
  
  .btn-get {
    font-family: "Avenir", "Helvetica Neue", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #007aff;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 20px;
    text-decoration: none;
  }
  
  .preview > img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .footer { 
    display: block;
    width: 40%;
    bottom: 80px;
    margin: 40px auto;
    text-align: center;
    z-index: -1;
  }
  
  .footer > p {
    font-weight: normal;
    color: #666666;
    margin: 0px;
  }
  
  @media (max-width: 900px) {
    .img {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 18px;
    }
  
    h2 {
      font-size: 14px;
    }
  
    .img > img {
      width: 320px;
    }
  
    .footer {
      bottom: 30px;
    }
  }
  
  @media (max-height: 320px) {
    .install-content {
      padding-top: 10%;
    }
  }
  
  @media (max-width: 750px) and (min-width: 650px) {
    .btn-install {
      font-size: 12px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 650px) {
    .options {
      position: static;
      float: none;
      width: auto;
      height: auto;
      min-height: 0;
    }
  
    .install {
      position: static;
      float: none;
      width: auto;
    }
    
    .install > .install-content {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  
    .footer {
      position: static;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    h1 {
      font-size: 18px;
    }
  
    h2 {
      font-size: 16px;
    }
  }